
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

header {
    text-align: left;
    padding: 50px 20px;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button.secondary {
    background: lightgray;
}

.document-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.collaborators {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.browse-projects-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #575652;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.browse-projects-button:hover {
    background-color: #444744;
}
.create-projects-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    float: right;
    margin-left: auto;
}

.create-projects-button:hover {
    background-color: #303530;
}
